#media-rslts-cont {
  overflow: auto;  
}

#media-list-cont {
  padding: 5px;
}

.rslt-cont {
  display: grid;
  grid-template-columns: 3fr 9fr;
}

.rslt-info-cont {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

.rslt-thumb {
  width: 100%;
  height: 100%;
}
